*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --primary-color:#a70101;
}
/***Navbar***/
html{
   scroll-behavior: smooth; 
}

.hero{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("spider.jpg");
    background-size: cover;
    background-position: center;
}

.logo{
    cursor: pointer;
    letter-spacing: 1px;
    padding-left: 20px;
    color: white;
    justify-content: start;
}

nav{
    margin:auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 25px;
}


nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: var(--primary-color);
    transform: translateY(-10%);
    transition: 0.4s ease;
}

.info{
    margin-top: 5%;
    margin-left: 10%;
    width: 30%;
}

.info h1{
    color: white;
    font-size: 3rem;
}

.info a{
    background-color: var(--primary-color);
    padding: 10px 18px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
    color: white;
    border-radius: 20px;
    
}

.info a:hover{
    transition: ease 0.4s;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transform: translateY(-10%);
}

input{
    margin: 10px;
    background: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    
}

.search a{
    background-color: var(--primary-color);
    padding: 8px 15px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    border: var(--primary-color) 1px solid;
    margin: 20px 0;
    color: white;
    border-radius: 10px;
}

.search a:hover{
    transition: ease 0.4s;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transform: translateY(-10%);
}
/**Movie Section**/
.movies-section{
    width: 100%;
    padding: 80px 0;
    background-color: black;
    color: white;
}
.heading{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 2px solid var(--primary-color);
}

.movies-container{
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}

.box .box-img{
    width: 100%;
    height: 270px;
}

.box .box-img img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.box .box-img img:hover{
    transform: translateY(-10px);
    transition: 0.2s all linear;
}


